.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  background-color: #28a050;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: rgb(176, 221, 12);
  margin-top: 16px;
}

.sub-text {
    font-size: 25px;
    color: white;
    text-align: center;
}

.connected-container input[type='text'] {
    display: inline-block;
    color: black;
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(0, 255, 255, 0.75);
    border: 5%;
    border-color: red;
    border-radius: 0px;
    margin: 10px 30px;
}

.waveButton {
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin: 10px 0px;
}

.connectWalletButton {
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  width: auto;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin: 10px 30px;
}